header {
  background-color: #d01f31;
  width: 10rem;
  height: 100vh;
  position: fixed;
}

.icon {
  color: white;
  height: 50px;
  width: 100px;
}

 nav{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  height: 100%;
  justify-content: center;
  gap: 5%;
  align-items: center;
}

Link {
  text-decoration: none;
}

nav p{
  color: white;
}

